.login {
    .text {
        // text-align: center;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    margin: auto;
    width: 30%;
    height: fit-content;
    border: 1px solid #aaaa;
    border-radius: 5px;
    padding: 30px 20px 10px 20px;
    background-color: rgba($color: #ffff, $alpha: 0.9);
}